* {
    border: none;
    font-family: 'MartianMono Nerd Font', 'Symbols Nerd Font Mono';
    font-size: 12px;
    min-height: 0px;
}

window#waybar {
    background: #2f383e; /* Everforest Medium background */
    margin: 0px 12px 0px 12px;
}

window#waybar > box {
}

tooltip {
    background: #2f383e;
    color: #d3c6aa;
}

/* Rounded Right */
#custom-arch, #workspaces, #clock, #network, #tray {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: 4px;
}

/* Rounded Left */
#custom-arch, #workspaces, #clock, #cpu {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    margin-left: 4px;
}

#custom-search {
    margin-left: 6px;
    margin-right: 8px;
}

/* Box */
#custom-arch, #custom-quick-panel, #custom-search, #window, #workspaces, #clock, #cpu, #memory, #disk, #pulseaudio, #battery, #backlight, #network, #tray, #mpris {
    color: #d3c6aa; /* Text */
    background: #2f383e; /* Background */
    font-size: 13px;
    padding: 4px 6px 4px 6px;
}

#tray .nm-applet {
    color: #2f383e;
}

/* Custom Arch */
#custom-arch {
    color: #a7c080; /* Green / Arch logo */
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
}

/* Workspaces */
#workspaces button {
    padding: 4px 2px 4px 2px;
    margin-left: 0px;
    margin-right: 0px;
    color: #D3C6AA;
}

#workspaces button:hover {
    background: #2f383e;
}

#workspaces button.focused {
    color: #83C092; /* Red / Love active */
    background: #2f383e;
}

/* MPRIS */
#mpris {
    font-family: 'RobotoMono Nerd Font', 'Symbols Nerd Font Mono';
    font-size: 13px;
}

